*{
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace !important; 
  background: url('img/space.jpg') repeat;
}

.row {
  align-items: center;
}

/* flag styling */

.flag {
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.flag img:focus, .card flag:hover {
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f0f, /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
}

.flag img {
  cursor: pointer;
}

/* footer styling */
small {
  color: aliceblue;
}

/* modal styling */
.modal-lg {
  max-width: 80% !important;
}
